__pycache__/
*.pyc
*.py[cod]
*.class
*.ipynb
.DS_Store
.idea/
.ipynb_checkpoints/
.projectconfig
data/*
copilot/*
!data/sample/
!data/external/
config/local
!.gitkeep
test/*.csv
Dockerfile_ec2
app/Dockerfile
app/boot.sh