__pycache__/
*.pyc
*.py[cod]
*.class
*.ipynb
.DS_Store
.idea/
.ipynb_checkpoints/
.projectconfig
.awsconfig
.ecsconfig

data/*
copilot/*
!data/sample/
!data/external/
config/local
!.gitkeep
test/*.csv